<div class="row">
	<div class="col-md-12">
		<dl>
			<dt>名前</dt>
			<dd>
				<%= @customer.full_name %>
			</dd>
			<dt>電子メール</dt>
			<dd>
				<%= @customer.email %>
			</dd>
		</dl>		
	</div>
</div>
